<h1>Create a Meetup</h1>

<% if signed_in? %>

  <p>Enter the following information below:</p>
  <form action="/meetups/new" method="post">
    <p><input type="text" name="name" size="30" maxlength="50" placeholder="Name of event"></p>
    <p><input type="text" name="description" size="30" maxlength="50" placeholder="Description"></p>
    <p><input type="text" name="location" size="30" maxlength="50" placeholder="Location"></p>
  <p><input type = "submit" value="Create"></p>
  </form>

<% else %>

  <h3>Please Sign In to Create a Meetup.</h3>

<% end %>
