
body {
  background-image: url('/images/stardust.png');
  color: #FFFFFF;
}

a,
a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover,a:active {
  color: #00ffff;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 80%;
}

.top-bar {
  background-color: #3C3C3C;
}

.top-bar-section {
  display: inline-block;
  float: right;
  padding-right: 30px;
}

.top-bar-section li {
  list-style: none;
  display: inline-block;
  margin-left: 1em;
}

.logo {
  display: inline-block;
  margin: 1em 0;
}

.flash {
  padding: 1em;
  background-color: #3B9089;
}

input {
  line-height: 1.5em;
  color: #000;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.center li {
  display: inherit;
  padding-right: 2em;
}
